* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: rgba(130, 130, 130, 1);
}

:root {
    font-size: 62.5%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;
    padding-top: 10rem;
}

main h1 {
    font-family: 'Dosis';
    font-size: 3.2rem;
    font-style: normal;
    line-height: 4rem;
}

main h1 span{
    color: rgba(238, 36, 255, 1);
}

main {
    text-align: center;
}

main .text {
    width: 700px;  
}

main .text p span {
    color: #818080;
    font-weight: 700;
}

main p {
    margin-top: 2.5rem;
    font-weight: 400;
    font-size: 2rem;  
}

main p strong {
    color:rgb(22, 20, 37);
}

footer{
    margin-top: 6rem;
}

footer ul {
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
   
    gap: 4rem;
    font-weight: 900;
    list-style: none;
}

footer ul li a {
    font-style: none;
    text-decoration: none;
    color: black;
}

footer img{
    width: 2000px;
}
